<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006978319441-nrpqocl7npgsnkmjnfv6bdf20sdq3c3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006978319441-nrpqocl7npgsnkmjnfv6bdf20sdq3c3j</string>
	<key>API_KEY</key>
	<string>AIzaSyDhE4Sy39YFY3fnZFGvW424yKe3GFf5h0A</string>
	<key>GCM_SENDER_ID</key>
	<string>1006978319441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beontimeagent</string>
	<key>PROJECT_ID</key>
	<string>beontime-288116</string>
	<key>STORAGE_BUCKET</key>
	<string>beontime-288116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006978319441:ios:0fa4ab9b15532b4b1be470</string>
</dict>
</plist>